body {
    background-color: #eeeeee;
}
.main-card {
    border: .5px #bbbbbb solid;
    /* width: 540px; */
    /* margin-top: 20%; */
}
.footer {
    position: absolute;
    background-color: #00000008;
    border: .5px solid #bbbbbb;
    bottom: 0;
    height: 5%;
    width: 100%;
}
.footer > p {
    text-align: center;
    padding-top: 0.5%;
}

.list-group-item {
    background-color: #eeeeee;
}
.list-group-item:nth-child(n+2):hover {
    background-color: #dddddd;
    cursor: pointer;
}